* {
  box-sizing: border-box;
}

body {
  background-color: #141625;
}

.container {
  margin: 32px;
}

.header__title {
  color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__title {
  color: #826fe9;
  font-size: 16px;
}

.form__label {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__input {
  width: 100%;
  border: none;
  padding: 12px 8px;
  border-radius: 4px;
  background-color: #1f213a;
  color: #ffffff;
}

.form__input::placeholder {
  color: #70758b;
}

.form__group {
  display: flex;
  gap: 32px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.form__button {
  border: none;
  background-color: red;
  color: #ffffff;
  padding: 16px;
  min-width: 130px;
  border-radius: 32px;
}

.form__button--cancel {
  background-color: #252944;
}

.form__button--save {
  background-color: #7c5df9;
}